<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>

<h1>SignUp Page</h1>

<form method="post">
    {% csrf_token %}
    <p>{{ form.username.label_tag }} {{ form.username }} {{ form.username.errors }}</p>
    <p>{{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}</p>
    <p>{{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}</p>
    <button type="submit">SignUp</button>
</form>

<p>
    <a href="{% url 'accounts:login' %}">Sign in</a> if you have a account.
</p>

</body>
</html>
